---
layout: default
---
<div class="img_description">
  <div class="image">
    {%- include media_render.html item=page context="full" -%}

    {%- if page.download and page.download != '' -%}
      {%- if page.download contains 'assets' -%}
        {%- assign dl = page.download | prepend: site.baseurl -%}
      {%- else -%}
        {%- assign dl = page.download -%}
      {%- endif -%}
      <p><a class="media-download" href="{{ dl | strip }}" download>Download this source</a></p>
    {%- endif -%}
  </div>

  <div class="text">
    <h1>{{ page._title }}</h1>
    {%- if page.description and page.description != '' %}<p><i>{{ page.description }}</i></p>{% endif -%}
    {%- if page.creator and page.creator != '' %}<p>Creator: {{ page.creator }}</p>{% endif -%}
    {%- if page._date and page._date != '' %}<p>Date: {{ page._date }}</p>{% endif -%}
    {%- if page.rights and page.rights != '' %}<p>Rights: {{ page.rights }}</p>{% endif -%}
    {%- if page.type and page.type != '' %}<p>Type: {{ page.type }}</p>{% endif -%}
    {%- if page.source and page.source != '' %}<p>Source: {{ page.source }}</p>{% endif -%}
    {%- if page.identifier and page.identifier != '' %}<p>Identifier: {{ page.identifier }}</p>{% endif -%}
    {%- if page.contributor and page.contributor != '' %}<p>Contributor: {{ page.contributor }}</p>{% endif -%}
    {%- if page.format and page.format != '' %}<p>Format: {{ page.format }}</p>{% endif -%}
    {%- if page.credit_IPTC and page.credit_IPTC != '' %}<p>Credit (IPTC): {{ page.credit_IPTC }}</p>{% endif -%}
    {%- if page.date_created_IPTC and page.date_created_IPTC != '' %}<p>Date created (IPTC): {{ page.date_created_IPTC }}</p>{% endif -%}
  </div>
</div>
